* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --mainBlue: #0d467e;
  --hoverBlue: #6699CC; 
  --textColor: #333333;
  --mainBackground: #F0F0F0;
  --secondaryTextColor: #F5F5F5;
  --transparent-color: #ffffff00;
}

.go-to-page-button {
  font-size: 1.85em;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}